  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
body{
  background-color: #370A72 !important;
  /* background-image: url('./assets/images/bg.png'); */
  font-family: 'Courier Prime', monospace;  background-position: center;
  font-weight: 700;
  background-size: cover;

}